/* 
:root {
  --sl-color-accent-low: #072d00;
  --sl-color-accent: #247f00;
  --sl-color-accent-high: #cd2e80;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eaf0e8;
  --sl-color-gray-2: #bdc4bb;
  --sl-color-gray-3: #82907f;
  --sl-color-gray-4: #4f5c4d;
  --sl-color-gray-5: #303c2d;
  --sl-color-gray-6: #151a13;
  --sl-color-black: #151a13;
}

:root[data-theme='light'] {
  --sl-color-accent-low: #c0e2b8;
  --sl-color-accent: #005c1a;
  --sl-color-accent-high: #0d3e00;
  --sl-color-white: #151a13;
  --sl-color-gray-1: #1f2a1c;
  --sl-color-gray-2: #303c2d;
  --sl-color-gray-3: #4f5c4d;
  --sl-color-gray-4: #82907f;
  --sl-color-gray-5: #bdc4bb;
  --sl-color-gray-6: #eaf0e8;
  --sl-color-gray-7: #ffffff;
  --sl-color-black: #f8faf8;
} */

/* Logo auf exakt 24x24 px */
header img[src*='logo'],
header svg {
  width: 24px !important;
  height: 24px !important;
}

header .site-title {
  gap: 16px; /* falls Titel zusätzlichen linken Abstand hat */
}
